html {
    margin: 20px;
}
img {
    width: 900px;
    height: 500px;
    display: block;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0 0 5px #000;
}

body {
    background-image: url(pictures/noodles-drawing.jpg);
    background-size: 200px;
}

.button1,
.button2,
.button3 {
    font-size: 70px;
    display: inline-block;
    text-align: left;
}

button {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: rgb(237, 240, 231);
    display: block;
    margin: auto;
    border-radius: 50%;
}

.surprise-me {
    font-size: 20px;
    display: inline-block;
    border-style: groove;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    background-color: rgb(70, 105, 99);
    color: rgb(255, 221, 0);
}

div,
.wiki {
    background: rgba(255, 255, 255, 0.7);
    display: table; /* keep the background color wrapped tight */
     /* keep the table centered */
    padding:5px;
    text-align: left;
    border-radius: 30px;
    text-indent: 15px;
    margin: 10px;
    box-shadow: 0 0 3px #000;
}

.homepage {
    font-size: 20px;
    display: inline-block;
    text-indent: 0%;
}

.pandersail {
    width: 150px;
    height: auto;
    position: relative;
    bottom: 180px;
    border-radius: 100%;
}
.credit {
    text-align: center;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    border-radius: 30px;
    padding: 5px;
    color: rgb(232, 228, 228);
    background-size: 5px;
    position: relative;
    bottom: 180px;
}
.wiki {
    border-radius: 0px;
    margin-left: 60%;
    margin-top: -29%;

}